# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------
# Virtual Environments
# ----------------------------
venv/
.env/
.envrc
**/venv/
# Virtual env
Pytorch/torch/
**/torch/
**/torch/


# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Build / dist
# ----------------------------
build/
dist/
*.egg-info/

# ----------------------------
# CUDA / kernels temp
# ----------------------------
*.ptx
*.cubin
*.fatbin

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# OS
# ----------------------------
.DS_Store
Thumbs.db
